# Virtual Environments
venv/
env/
ENV/

# Python Cache and Compiled files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.db
*.sqlite3

# Environment Variables / Secrets
.env

# Python
__pycache__/
*.pyc

# SQLite
*.db
